
.main {
    display: block;
    padding: 20px;
    Margin-left: 75px;
    Margin-right: 75px;
    background: whitesmoke;
    text-align: center;
    color: #777;
}
.body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: white;
    width: 960px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}
.nav {
    Display: block;
    padding: 15px;
    Margin-Left: 75px;
    Margin-Right: 75px;
    background: whitesmoke;
    text-align: center;
    color:#777;
    margin-top: 20px;
}
.section {
    Display: inline-block;
    float: left;
    width: 40%;
    height: 400px;
    padding: 30px;
    Margin-left:75px;
    Margin-right: 75px;
    background: whitesmoke;
    Margin-top: 35px;
    text-align: center;
    color: #777;
}
#article {
    width: 100%;
    height: 200px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    clear: both;
    color: whitesmoke;
    background: #777;
  }
  #h1 {
      width: 100%;
      height: 100px;
      background: #777;
      margin-bottom: 30px;
  }
  #second {
      Width: 50%;
      height: 50%;
      float: center;
      background: gray;
      font-display: black;
  }
  #p {
      Display: block;
      height: 50px;
      width: 50%;
      float: center;
      background: whitesmoke;
      margin-top: 30px;
  }
  #aside {
      Display: inline-block;
      float: right;
      width: 40%;
      height: 400px;
      padding: 30px;
      Margin-left:75px;
      Margin-right: 75px;
      background: whitesmoke;
      Margin-top: 35px;
      text-align: center;
      color:#777;
  }

  footer {
      padding: 20px;
      Width: 100%;
      height: 70px;
      margin-top: 50%;
      margin-left: 75px;
      margin-right: 75px;
      clear: both;
      background: whitesmoke;
  }